@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base overrides */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
